.adventure-feedback-page-container{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.type-of-feedback-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.entity-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.entity-navigator{

}
.entity-info{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.info-box{
    display: flex;
    flex-direction: row;
    width: 250px;
    align-items: center;
    justify-content: space-evenly;
}
.feedback-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: space-evenly;
}
.feedback{
    width: 90%;
    height: 30%;
}
.feedback-text{
    width: 100%;
    height: 100%;
}
.feedback-send-button{
    width: 100px;
    height: 50px;
    background-color: lightblue;

}
.grade-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
}
.grade-data{
    width: 40%;
    height: 30%;
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
}
.rating-label{

}
.rating-input{

}
.submit-grade{
    width: 100px;
    height: 50px;
    background-color: lightblue;
}