.cottage-profile-page-container{
    width: 100%;
    height: 100vh;   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   background-color: rgba(255, 255, 255, 0.592) ;
}
.cottage-caption-content{
    width: 100%;
    height: 25%;
    position: relative;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.cottage-properties{
    background-color: rgba(0, 0, 0, 0.592);
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;    
    position: relative;
}
.basic-cottage-info{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    justify-content: space-evenly;
}
.owner-data{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.cottage-image{
    height: 100%;
    width: 50%;
}
.cottage-content-container{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    justify-content: space-evenly;
}
.cottage-content-box{
    width: 30%;
    height: 90%;
    border: solid;
    margin-top: 10px;
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.appointments-button{
    width: 200px;
    height: 70px;
}