.registration-page-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
}
.registration-page-caption{
    color: white;
}
.registration-form-container{
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(255,255,255,.5);
    width: 80%;
    border-radius: 5%;
}
.registration-data-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;    
    width: 90%;
}
.registration-main-data-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 20px;
}
.registration-main-data-labels{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.registration-main-data-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.registration-side-data-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 20px;
}
.registration-side-data-labels{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    height: 100%;
}
.registration-side-data-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.registration-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    height: 20%;
    align-items: center;
}
.registration-button{
    width: 150px;
    height: 60px;
    background-color: lightblue;
}
